In [10]:
import pandas as pd

file_path = "data.csv"
df = pd.read_csv("Downloads/Compressed/Expanded_data_with_more_features.csv")
df

,Unnamed: 0,Gender,EthnicGroup,ParentEduc,LunchType,TestPrep,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore
0,0,female,NaN,bachelor's degree,standard,none,married,regularly,yes,3.0,school_bus,< 5,71,71,74
1,1,female,group C,some college,standard,NaN,married,sometimes,yes,0.0,NaN,5 - 10,69,90,88
2,2,female,group B,master's degree,standard,none,single,sometimes,yes,4.0,school_bus,< 5,87,93,91
3,3,male,group A,associate's degree,free/reduced,none,married,never,no,1.0,NaN,5 - 10,45,56,42
4,4,male,group C,some college,standard,none,married,sometimes,yes,0.0,school_bus,5 - 10,76,78,75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30636,816,female,group D,high school,standard,none,single,sometimes,no,2.0,school_bus,5 - 10,59,61,65
30637,890,male,group E,high school,standard,none,single,regularly,no,1.0,private,5 - 10,58,53,51
30638,911,female,NaN,high school,free/reduced,completed,married,sometimes,no,1.0,private,5 - 10,61,70,67
30639,934,female,group D,associate's degree,standard,completed,married,regularly,no,3.0,school_bus,5 - 10,82,90,93
30640,960,male,group B,some college,standard,none,married,never,no,1.0,school_bus,5 - 10,64,60,58

In [11]:
print(df[['MathScore', 'ReadingScore', 'WritingScore']].head())

   MathScore  ReadingScore  WritingScore
0         71            71            74
1         69            90            88
2         87            93            91
3         45            56            42
4         76            78            75

In [12]:
columns_to_average = ['MathScore', 'ReadingScore', 'WritingScore']

df['AverageScore'] = round(df[columns_to_average].sum(axis=1) / len(columns_to_average))
print(df[['AverageScore']].head())

   AverageScore
0          72.0
1          82.0
2          90.0
3          48.0
4          76.0

In [13]:
df['TotalPerformance'] = df['AverageScore'].apply(
    lambda x: 'high' if x > 85 else 'medium' if x >= 70 else 'low'
)
print(df[['TotalPerformance']].head())

  TotalPerformance
0           medium
1           medium
2             high
3              low
4           medium

In [14]:
df.drop(columns=['AverageScore'], inplace=True)
print(df.head())

   Unnamed: 0  Gender EthnicGroup          ParentEduc     LunchType TestPrep  \
0           0  female         NaN   bachelor's degree      standard     none
1           1  female     group C        some college      standard      NaN
2           2  female     group B     master's degree      standard     none
3           3    male     group A  associate's degree  free/reduced     none
4           4    male     group C        some college      standard     none

  ParentMaritalStatus PracticeSport IsFirstChild  NrSiblings TransportMeans  \
0             married     regularly          yes         3.0     school_bus
1             married     sometimes          yes         0.0            NaN
2              single     sometimes          yes         4.0     school_bus
3             married         never           no         1.0            NaN
4             married     sometimes          yes         0.0     school_bus

  WklyStudyHours  MathScore  ReadingScore  WritingScore TotalPerformance
0            < 5         71            71            74           medium
1         5 - 10         69            90            88           medium
2            < 5         87            93            91             high
3         5 - 10         45            56            42              low
4         5 - 10         76            78            75           medium

In [15]:
df

,Unnamed: 0,Gender,EthnicGroup,ParentEduc,LunchType,TestPrep,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore,TotalPerformance
0,0,female,NaN,bachelor's degree,standard,none,married,regularly,yes,3.0,school_bus,< 5,71,71,74,medium
1,1,female,group C,some college,standard,NaN,married,sometimes,yes,0.0,NaN,5 - 10,69,90,88,medium
2,2,female,group B,master's degree,standard,none,single,sometimes,yes,4.0,school_bus,< 5,87,93,91,high
3,3,male,group A,associate's degree,free/reduced,none,married,never,no,1.0,NaN,5 - 10,45,56,42,low
4,4,male,group C,some college,standard,none,married,sometimes,yes,0.0,school_bus,5 - 10,76,78,75,medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30636,816,female,group D,high school,standard,none,single,sometimes,no,2.0,school_bus,5 - 10,59,61,65,low
30637,890,male,group E,high school,standard,none,single,regularly,no,1.0,private,5 - 10,58,53,51,low
30638,911,female,NaN,high school,free/reduced,completed,married,sometimes,no,1.0,private,5 - 10,61,70,67,low
30639,934,female,group D,associate's degree,standard,completed,married,regularly,no,3.0,school_bus,5 - 10,82,90,93,high
30640,960,male,group B,some college,standard,none,married,never,no,1.0,school_bus,5 - 10,64,60,58,low

In [16]:
df_modified = df.copy()

In [19]:
df.to_csv("df_modified.csv", index=False)

In [22]:
df_cleaned = df_modified.copy()

df_cleaned = df_cleaned.drop(columns=["EthnicGroup"])

print(df_cleaned.head())

   Unnamed: 0  Gender          ParentEduc     LunchType TestPrep  \
0           0  female   bachelor's degree      standard     none
1           1  female        some college      standard      NaN
2           2  female     master's degree      standard     none
3           3    male  associate's degree  free/reduced     none
4           4    male        some college      standard     none

  ParentMaritalStatus PracticeSport IsFirstChild  NrSiblings TransportMeans  \
0             married     regularly          yes         3.0     school_bus
1             married     sometimes          yes         0.0            NaN
2              single     sometimes          yes         4.0     school_bus
3             married         never           no         1.0            NaN
4             married     sometimes          yes         0.0     school_bus

  WklyStudyHours  MathScore  ReadingScore  WritingScore TotalPerformance
0            < 5         71            71            74           medium
1         5 - 10         69            90            88           medium
2            < 5         87            93            91             high
3         5 - 10         45            56            42              low
4         5 - 10         76            78            75           medium

In [23]:
from sklearn.impute import SimpleImputer


df_imputed = df_cleaned.copy()

num_cols = df_imputed.select_dtypes(include=['float64', 'int64']).columns
num_imputer = SimpleImputer(strategy='median')
df_imputed[num_cols] = num_imputer.fit_transform(df_imputed[num_cols])


cat_cols = df_imputed.select_dtypes(include=['object']).columns
cat_imputer = SimpleImputer(strategy='most_frequent')
df_imputed[cat_cols] = cat_imputer.fit_transform(df_imputed[cat_cols])

missing_after = df_imputed.isnull().sum().to_dict()
missing_after

{'Unnamed: 0': 0,
 'Gender': 0,
 'ParentEduc': 0,
 'LunchType': 0,
 'TestPrep': 0,
 'ParentMaritalStatus': 0,
 'PracticeSport': 0,
 'IsFirstChild': 0,
 'NrSiblings': 0,
 'TransportMeans': 0,
 'WklyStudyHours': 0,
 'MathScore': 0,
 'ReadingScore': 0,
 'WritingScore': 0,
 'TotalPerformance': 0}

In [25]:
df_imputed = df_imputed.drop(columns=["Unnamed: 0"])

In [26]:
df_imputed

,Gender,ParentEduc,LunchType,TestPrep,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore,TotalPerformance
0,female,bachelor's degree,standard,none,married,regularly,yes,3.0,school_bus,< 5,71.0,71.0,74.0,medium
1,female,some college,standard,none,married,sometimes,yes,0.0,school_bus,5 - 10,69.0,90.0,88.0,medium
2,female,master's degree,standard,none,single,sometimes,yes,4.0,school_bus,< 5,87.0,93.0,91.0,high
3,male,associate's degree,free/reduced,none,married,never,no,1.0,school_bus,5 - 10,45.0,56.0,42.0,low
4,male,some college,standard,none,married,sometimes,yes,0.0,school_bus,5 - 10,76.0,78.0,75.0,medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30636,female,high school,standard,none,single,sometimes,no,2.0,school_bus,5 - 10,59.0,61.0,65.0,low
30637,male,high school,standard,none,single,regularly,no,1.0,private,5 - 10,58.0,53.0,51.0,low
30638,female,high school,free/reduced,completed,married,sometimes,no,1.0,private,5 - 10,61.0,70.0,67.0,low
30639,female,associate's degree,standard,completed,married,regularly,no,3.0,school_bus,5 - 10,82.0,90.0,93.0,high
30640,male,some college,standard,none,married,never,no,1.0,school_bus,5 - 10,64.0,60.0,58.0,low

In [30]:
df_imputed

,Gender,ParentEduc,LunchType,TestPrep,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore,TotalPerformance,student_id,student_name
0,female,bachelor's degree,standard,none,married,regularly,yes,3.0,school_bus,< 5,71.0,71.0,74.0,medium,1,Beth Higgins
1,female,some college,standard,none,married,sometimes,yes,0.0,school_bus,5 - 10,69.0,90.0,88.0,medium,2,Marcia Perez
2,female,master's degree,standard,none,single,sometimes,yes,4.0,school_bus,< 5,87.0,93.0,91.0,high,3,Christine Nichols
3,male,associate's degree,free/reduced,none,married,never,no,1.0,school_bus,5 - 10,45.0,56.0,42.0,low,4,Tim Thomas
4,male,some college,standard,none,married,sometimes,yes,0.0,school_bus,5 - 10,76.0,78.0,75.0,medium,5,Julie Gutierrez
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30636,female,high school,standard,none,single,sometimes,no,2.0,school_bus,5 - 10,59.0,61.0,65.0,low,30637,John Watson
30637,male,high school,standard,none,single,regularly,no,1.0,private,5 - 10,58.0,53.0,51.0,low,30638,Nicholas Cardenas
30638,female,high school,free/reduced,completed,married,sometimes,no,1.0,private,5 - 10,61.0,70.0,67.0,low,30639,Abigail Barker
30639,female,associate's degree,standard,completed,married,regularly,no,3.0,school_bus,5 - 10,82.0,90.0,93.0,high,30640,Alison Rivera
30640,male,some college,standard,none,married,never,no,1.0,school_bus,5 - 10,64.0,60.0,58.0,low,30641,Donald Franklin

In [31]:
df_imputed = df_imputed.drop(columns=["Gender"])

In [32]:
import numpy as np

def convert_hours(value):
    if pd.isna(value):
        return np.nan
    value = str(value).strip()
    
    if value.startswith("<"):
        return float(value[1:]) / 2   # نصف القيمة (مثلاً <5 = 2.5)
    elif "-" in value:
        parts = value.split("-")
        return (float(parts[0]) + float(parts[1])) / 2   # المتوسط
    elif value.startswith(">"):
        return float(value[1:]) + 1   # أكبر من الرقم +1 (مثلاً >10 = 11)
    else:
        try:
            return float(value)
        except:
            return np.nan

df_imputed["WklyStudyHours_num"] = df_imputed["WklyStudyHours"].apply(convert_hours)

In [53]:
df = df_imputed

In [56]:
file_path = "Final_df.csv"
df = pd.read_csv("Final_df.csv")
df

,student_id,student_name,TransportMeans,ParentEduc,LunchType,TestPrep,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,WklyStudyHours_num,MathScore,ReadingScore,WritingScore,TotalPerformance
0,1,Beth Higgins,school_bus,bachelor's degree,standard,none,married,regularly,yes,3,2.5,71,71,74,medium
1,2,Marcia Perez,school_bus,some college,standard,none,married,sometimes,yes,0,7.5,69,90,88,medium
2,3,Christine Nichols,school_bus,master's degree,standard,none,single,sometimes,yes,4,2.5,87,93,91,high
3,4,Tim Thomas,school_bus,associate's degree,free/reduced,none,married,never,no,1,7.5,45,56,42,low
4,5,Julie Gutierrez,school_bus,some college,standard,none,married,sometimes,yes,0,7.5,76,78,75,medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30636,30637,John Watson,school_bus,high school,standard,none,single,sometimes,no,2,7.5,59,61,65,low
30637,30638,Nicholas Cardenas,private,high school,standard,none,single,regularly,no,1,7.5,58,53,51,low
30638,30639,Abigail Barker,private,high school,free/reduced,completed,married,sometimes,no,1,7.5,61,70,67,low
30639,30640,Alison Rivera,school_bus,associate's degree,standard,completed,married,regularly,no,3,7.5,82,90,93,high
30640,30641,Donald Franklin,school_bus,some college,standard,none,married,never,no,1,7.5,64,60,58,low